<!-- 引入 公用的头部 模版 -->
<% include header %>

  <div class="jumbotron">
    <h2>欢迎访问<span> 18k阅读网 </span>管理员系统</h2>
    <p>登录管理员账号后可以进行系统操作了~</p>
      <p><a class="btn btn-default btn-lg" href="/" role="button">前往网站首页</a></p>
  </div>

<!-- 引入 公用的底部 模版 -->
<% include footer %>
