<!-- 引入 公用的头部 模版 -->
<% include header %>
	<!-- 路径导航 -->
	<ol class="breadcrumb">
	  <li><a href="admin/linkList">友情链接</a></li>
	  <li class="active">添加友情链接</li>
	</ol>
	<!-- 路径导航 end -->

	<!-- 添加数据的表单 -->
	<div class="row">
		<div class="col-md-4 col-sm-2 col-xs-0"></div>
		<div class="col-md-4 col-sm-8 col-xs-12">
			<form class="formAdd" action="/admin/linkInsert" method="post">
				<div class="input-group">
				  <span class="input-group-addon">名称</span>
				  <input type="text" class="form-control" name="name">
				</div>

				<div class="input-group">
				  <span class="input-group-addon">地址</span>
				  <input type="text" class="form-control" name="addr">
				</div>

				<div class="input-group">
				  <span class="input-group-addon">简介</span>
				  <input type="text" class="form-control" name="info">
				</div>

				<div class="input-group">
					<input type="submit" value="确认添加" class="btn btn-default">
				</div>

			</form>
		</div>
		<div class="col-md-4 col-sm-2 col-xs-0"></div>
	</div>

<!-- 引入 公用的底部 模版 -->
<% include footer %>
