<!DOCTYPE html>
<html>
  <head>
    <title>ERROR 500</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <link rel="icon" type="image/ico" href="http://tattek.com/minimal/assets/images/favicon.ico" />
    <!-- Bootstrap -->
    <link href="assets/css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/vendor/bootstrap-checkbox.css">
    <link href="assets/css/minimal.css" rel="stylesheet">
  </head>
  <body class="bg-1">
    <!-- Wrap all page content here -->
    <div id="wrap">
      <!-- Make page fluid -->
      <div class="row">
        <!-- Page content -->
        <div id="content" class="col-md-12 full-page error">

          <div class="search">
            <input type="text" class="form-control" placeholder="Search...">
          </div><!-- /input-group -->
          <div class="inside-block">
            <h1 class="error">Error <strong>500</strong></h1>
            <p class="lead"><span class="overline">Whoops</span>, a real big error here!</p>
            <p>our code is broken :-(</p>

            <div class="controls">
              <a href="#" class="btn btn-cyan"><i class="fa fa-refresh"></i> Try Again</a>
              <a href="/admin/login" class="btn btn-greensea"><i class="fa fa-home"></i> logIn Again</a>
              <a href="/" class="btn btn-red"><i class="fa fa-envelope"></i> Return to home</a>
            </div>

          </div>
        </div>
        <!-- /Page content -->
      </div>
    </div>
    <!-- Wrap all page content end -->
  </body>
</html>